@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Arial Narrow";
	src: url("../public/arial-narrow.ttf");
}

:root {
	--size: 75px;
	--paddingX: 1.5rem;
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: "Arial Narrow", arial;
	color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

.ReactCollapse--collapse {
	transition: height 400ms;
}

.galleryImg {
	object-fit: contain;
	object-position: center center;
	width: 100%;
}

.carousel .slider {
	height: 100% !important;
}

.carousel .slide > div {
	height: 100% !important;
}

.carousel .slide iframe {
	height: 100% !important;
	width: 100% !important;
    margin: 0 !important;
}

@media only screen and (min-width: 992px) {
	.carousel .slide iframe {
		max-height: none;
	}
}

button:focus {
	outline:0;
}
