.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#project_list {
	position: absolute;
	top: var(--size);
	height: calc(100vh - 2 * var(--size));
	width: 100%;
	overflow: auto;
}

.project_list_item_title {
	height: var(--size);
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.6em;
	padding-left: 1.5rem;
}

.head_foot {
	height: var(--size);
	width: 100%;
	position: absolute;
	left: 0;
}

#header {
	background: linear-gradient(
		0deg,
		rgba(252, 14, 128, 0),
		rgba(252, 14, 128, 1)
	);
	top: 0;

	display: flex;
	justify-content: space-between;
	font-size: 2.9em;
	padding: 1.5rem;
}

#footer {
	background: linear-gradient(
		0deg,
		rgba(252, 14, 128, 1),
		rgba(252, 14, 128, 0)
	);

	bottom: 0;
}

.info {
	height: calc(100vh - 2 * var(--size));
	width: 100%;
	padding: 0 1.5rem;
	position: relative;
	left: 0;
	top: var(--size);
	display: grid;
	grid-template-columns: 58% auto;
	z-index: 10;
	background-color: white;
}

#about {
	height: calc(100vh - 2 * var(--size));
	font-size: 1.6rem;
	white-space: pre-wrap;
	border: none;
	overflow-y: auto;
	overflow-x: hidden;
}

#profileImage {
	max-height: calc(100vh - 2 * var(--size));
}

@media (min-width: 600px) {
	.project_list_item {
		opacity: 0;
		transition: opacity 600ms ease-in-out;
	}
}
