.project {
	width: 100%;
	padding: 0 var(--paddingX);
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 992px) {
	.project {
		display: grid;
		grid-template-columns: 70% 30%;
	}
}

.carousel {
	/* max-height: calc(100vh - 3 * var(--size)); */
}

.description {
	padding: 5px var(--paddingX);
	font-size: 1.6em;
	overflow: auto;
}

@media only screen and (min-width: 992px) {
	.description {
		padding: 0 var(--paddingX);
	}
}

.video {
	/* height: calc(100vh - 3 * var(--size)); */
	margin: 0;
	aspect-ratio: 22 / 11;
}