.project {
	max-height: calc(100vh - 3 * var(--size));
	width: 100%;
	padding: 0 var(--paddingX);
	display: grid;
	grid-template-columns: 70% 30%;
}

.carousel {
	height: calc(100vh - 3 * var(--size));
	/* padding-bottom: 1rem; */
}

.description {
	padding: 0 var(--paddingX);
	font-size: 1.6em;
	overflow: auto;
}

.image {
	height: calc(100vh - 3 * var(--size));
	margin: 0;
}
