.project {
	width: 100%;
	padding: 0 var(--paddingX);
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 992px) {
	.project {
		display: grid;
		grid-template-columns: 70% 30%;
	}
}

.carousel {
	height: 100%;
}

.description {
	padding: 5px var(--paddingX);
	font-size: 1.61rem;
	overflow: auto;
	white-space: pre-wrap;
}

@media only screen and (min-width: 992px) {
	.description {
		padding: 0 var(--paddingX);
	}
}

.video {
	margin: 0;
}
